.memberShipTitle{
    color: #FFF !important;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em !important;
    position: relative;
    top: 560px;
}

.membership-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('../assets/memberShip.png');
    background-size: 85% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6% 12%;
    height: 100vh;
    position: relative;
    top: 600px;
    margin-bottom: -50px;
}